@import url("https://fonts.googleapis.com/css2?family=My+Soul&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
root{
  --bg:#18002e;
}
/* primary button style */
.input_b {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* button style */
button {
  aspect-ratio: 1;
  width: 24%;
  font-size: 75px;
  border-radius: 100px;
  color: rgb(15, 206, 206);
  background-color: blueviolet;
  font-family: My Soul, cursive;
}
button:hover {
  background-color:var(--bg);
}

button:active {
  background-color: #16051a5c;
  transform: translateY(2px);
}
/* base style */
#body {
  background-color: #18002e;
  
  width: 500px;
  border-width: 7px 7px 7px 7px;
  border-color: silver;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
/* screen style */
#output {
  background-color: rgba(125, 104, 104, 0.232);
  height: 300px;
  width: 100%;
  border-width: 7px 7px 7px 7px;
  border-style: solid;
  border-color: silver;
  background: rgba(163, 115, 163, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #efefe4d9;
  font-family: "My Soul", "cursive";
  font-size: 75px;
 overflow-wrap: break-word;
 padding-left: 1%;
}
.functions {
  background-color: rgb(15, 206, 206);
  color: blueviolet;
}
